// reset


* {
    font-family:$font-default;
    font-size: 15px;
    font-weight: 300;
    color: $font-color-main;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:focus {
      text-decoration: none;
  }
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
      cursor: not-allowed;
  }
}

// common
section:not(.visual-area) {
  padding: 60px 0;
}

.common-inner {
  width: 1160px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.mhidden {
  display: none;
}

.title-group {
  h2 {
    font-size: 30px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0 25px;
  }

}

.more-btn {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: -12px;
    top: 8px;
    width: 8px;
    height: 8px;
    border: 1px solid $font-color-main;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);

  }
}
.cancel-btn {
  border: none;
  outline: none;
  background-color: $transparent;
}


// slick
.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
}
.slick-prev {
  left: -40px;
}
.slick-next {
  right: -40px;
}


.slick-next:before,
.slick-prev:before {
  content: '\F285';
  font-family: $bs-icon;
  color: $font-color-main;
  display: inline-block;
  font-size: 35px;
}

.slick-prev:before {
  transform: rotateY(180deg);
}



@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin multi-ellipsis($font-size, $line-height, $lines) {
  font-size: $font-size;
  line-height: $line-height;
  max-height: $line-height * $lines;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical; /* autoprefixer: off */
}
