.prd-detail-area {


  /* left */
  .prd-info-area {
    .prd-info-navigation {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 30px 0;
      border-bottom: 1px solid $border-color;
      background-color: $white;
      z-index: 2;
      position: sticky;
      top: 120px;
      height: 50px;
      a {
        position: relative;
        &.is-active {
          font-weight: 500;
          color: $main-color;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            height: 3px;
            width: 100%;
            background-color: $main-color;
          }
        }

      }
    }

    .info-header {
      margin: 30px 0;
      position: relative;
      padding-left: 10px;
      font-size: 20px;
      font-weight: 500;
      color: $main-color;
      &::before {
        content: '';
        width: 4px;
        height: 22px;
        background-color: $main-color;
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
    .more-btn {
      margin: 20px auto 0;
      display: block;
      width: 120px;
      text-align: center;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: white;
      border: 1px solid $badge03;
      color: $badge03;
      font-weight: 500;
      transition: .3s;
      &:hover {
        color: $white;
        background-color: $badge03;
        border-color: $transparent;
      }
      &::after {
        display: none;
      }
    }
    .write-btn {
      border: 1px solid;
      width: 110px;
      text-align: center;
      padding: 8px;
      display: block;
      border-radius: 5px;
      font-size: 14px;
      margin-left: auto;
      margin-top: -30px;
      margin-bottom: 10px;
      transition: .2s;

      &:hover {
        background-color: $main-color;
        color: $white;
        border-color: $transparent;
      }
    }

    /* 제품소개 */
    .prd-desc-group {
      .prd-desc-content {
        display: flex;
        gap: 20px;
        > div {
          flex: 1;
        }
        .prd-img {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .prd-desc {
          dl {
            display: flex;
            border-bottom: 1px solid $border-color;
            padding: 20px 0;
            dt {
              font-weight: 500;
              flex-shrink: 0;
              flex-basis: 100px;
            }
            dd {
              color: $font-color-sub;
              letter-spacing: -.3px;
            }
          }
        }
      }
    }

    /* 상품리뷰 */
    .prd-review-group {
      .prd-review-content {
        display: flex;
        background-color: $bg-color03;
        border-radius: 15px;
        padding: 15px 25px;

        > div {
          flex: 1;
        }

        .review-stars-group {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .rating {
            font-size: 30px;
            font-weight: 500;
          }
          .stars {
            .bi {
              font-size: 25px;
              color: $yellow;
            }
          }
        }
        .review-diagram-group {
          .review-diagram {
            display: flex;
            gap: 10px;
            align-items: center;
            margin: 5px 0;
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              .review-diagram-bar {
                .review-diagram-bar-progress {
                  background-color: #bdbdbd;
                }
              }
            }
            b {
              font-size: 16px;
              font-weight: 500;
              flex-shrink: 0;
              margin-right: 10px;
            }
            .review-diagram-bar {
              background-color: $border-color;
              width: 100%;
              height: 10px;
              border-radius: 10px;
              position: relative;
              .review-diagram-bar-progress {
                position: absolute;
                background-color: $yellow;
                height: inherit;
                border-radius: inherit;

              }
            }
          }
        }
      }
      .user-riview-list {
        margin-top: 40px;
      }
      .user-review-item {
        border-bottom: 1px solid $border-color;
        display: flex;
        gap: 10px;
        padding-bottom: 10px;
        margin: 10px 0;
        &:hover {
          background-color: $bg-color02;
        }
        .user-img {
          width: 100px;
          height: 100px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .user-comment {
          flex: 1;
          padding-right: 10px;
          span {
            font-size: 14px;
            color: $font-color-sub;
          }
          .user-info {
            display: flex;
            justify-content: space-between;
            
            .user-star-prd {
              .stars {
                .bi {
                  color: $yellow;
                  font-size: 14px;
                }
              }
              .prd-info {
                margin-left: 7px;
              }
            }
            @at-root .user-name-date {
              .user-name {
                margin-right: 10px;
                position: relative;
                &::after {
                  content: '';
                  position: absolute;
                  width: 1px;
                  top: 5px;
                  right: -7px;
                  height: 13px;
                  background-color: $border-color;
                }
              }
            }
          }
          p {
            margin-top: 10px;
            @include multi-ellipsis(14px, 19px, 3); 
          }
        }
      }
    }

    /* 상품문의 */
    .prd-inquiry-group {

      .user-inquiry-list {}

      .user-inquiry-item {
        display: flex;
        gap: 50px;
        border-bottom: 1px solid $border-color;
        padding: 25px 0;
        &:hover {
          background-color: $bg-color02;
        }
        
        .inquiry-title {
          flex: 3;
          font-weight: 400;
          

          &::after {
            content: '\e897';
            font-family: 'Material Icons';
            margin-left: 3px;
            font-size: 15px;
            display: inline-block;
            transform: translateY(2px);
          }
        }
        .user-name-date {
          span {
            color: $font-color-sub;
            font-size: 14px;
          }
        }
        .answer-status {
          padding-right: 10px;
          font-size: 14px;
          color: $font-color-sub;
          &.answer-complete {
            color: $main-color;
            font-weight: 400;
          }
        }
      }

    }

    /* 배송환불 */
    .prd-refund-group {

      .refund-title {
        font-weight: 500;
        padding: 10px 0;
        font-size: 16px;
        cursor: pointer;
        border-bottom: 1px solid $border-color ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after {
          content: '\e5cf';
          font-family: 'Material Icons';
          font-size: 20px;
        }
        &.is-active::after {
          transform: rotate(180deg);
        }
      }
      .refund-desc {
        padding: 10px 0 10px 18px;
        line-height: 1.8em;
        display: none;
        li {
          list-style-type: disc;
          font-size: 14px;
          color: $font-color-sub;
          &:last-child {
            margin-bottom: 0;
          }

        }
      }
    }

    /* 뮷즈가방 */
    .prd-mudsbag-group {
      .prd-mudsbag-content {
        display: flex;
        justify-content: space-between;
        > div {
          flex: 1;
        }
      }
      .bag-item {
        text-align: center;
        &:first-child {
          border-right: 1px solid $border-color;
        }
        .bag-img {
          width: 250px;
          margin: 0 auto;
          img {
            display: block;
            width: 100%;
          }
        }
        .bag-desc {
          margin-top: 10px;
          line-height: 1.5;
        }
      }
    }
  }

  /* right */
  .prd-option-area {

    .option-title {
      position: relative;
      padding-bottom: 15px;
      border-bottom: 1px solid $border-color;

      .hashtag-group {
        font-size: 13px;
      }
      .prd-item {
        margin: 0;
        .prd-badge-area {
          margin-top: 10px;
        }
        .prd-info-area {
          margin-top: 0;
        }
      }
  
      .share-group {
        position: absolute;
        bottom: -3px;
        right: 0;
        button {
          border: none;
          background-color: $transparent;
          outline: none;
          padding: 10px;
          cursor: pointer;
          i {
            font-size: 20px;
            color: $font-color-sub;
          }
        }
        .fav-btn {
          .bi {
            color: red;
          }
        }
      }

    }

    .option-group {
      select {
        width: 100%;
        border: 1px solid $border-color;
        padding: 10px 3px;
        font-size: 13px;
        margin-top: 15px;
        outline: none;

        &.color-select {
          border-color: $main-color;
        }
      }
      option {
        color: $font-color-sub;
        font-size: 12px;
      }
      .select-area {
        position: relative;
        background-color: $bg-color02;
        width: 100%;
        margin-top: 10px;
        padding: 10px 5px;
        
        li {
          font-size: 13px;
        }

        .amount-select {
          display: flex;
          align-items: center;
          width: 95px;
          height: 25px;
          border: 1px solid $border-color;
          margin-top: 15px;
          background-color: $white;
          .btn-minus,
          .btn-plus {
            border: none;
            background-color: $transparent;
            outline: none;
            width: 25px;
            height: 25px;
            span {
              font-size: 15px;
            }
          }

          .amount {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 25px;
            font-size: 12px;
          }
        }
        @at-root .cancel-btn {
          position: absolute;
          right: 0;
          top: 0;
          span {
            font-size: 12px;
            color: $font-color-sub;
            padding: 7px;
          }
        }

      }
      .total-price {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-weight: 500;
        }
        span {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }

    .option-action {
      display: flex;
      gap: 15px;
      margin-top: 7px;
      position: relative;

      .btn-common {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        font-size: 15px;
        font-weight: 500;
        margin: 5px 0;
        cursor: pointer;
      }
      .btn-cart {
        border: 1px solid $main-color;
        background-color: $white;
        color: $main-color;
      }
      .btn-buy {
        border: 1px solid $transparent;
        background-color: $main-color;
        color: $white;
      }
    }


  }


}